<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="../node_modules/vue/dist/vue.js"></script>

<body>
    <div id="app">
        <h1>Hello {{name}}</h1>
        <input type="text" v-model="name">
    </div>

    <div id="app2">
        <input type="text" v-model="num"/>
        <input type="button" v-on:click="num++" value="+1">
    </div>

    <div id="app3">
        <input type="text" v-model="num">
        <input type="button" value="+!" v-on:click="add">
    </div>
</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            name: "vue"
        }
    });

    var app2 = new Vue({
        el : "#app2",
        data : {
            num : 1
        }
    });

    var app3 = new Vue({
        el : "#app3",
        data : {
            num : 1
        },
        methods : {
            add : function() {
                this.num ++;
            }
        }
    });
</script>

</html>